## Ejercicios:
1. Haz las importaciones necesarias para establecer la conxión y trabaar con Pandas.Establece la conexión usando mysql.connector utilizando try/except por si la conexión devielve un error.
2. Crea un nuevo "schema" llamado "alumnas-promo-X"
3. Crea una tabla con la información de las alumnas de la promo. Debe incluir: id_alumna, nombre, apellidos, ciudad y teléfono.
4. Inserta por lo menos 10 datos en la tabla creada en el ejercicio anterior (pueden ser inventados).
5. Haz una consulta que devuelva todos los registros de la tabla "alumnas" y conviértelo en Dataframe (no te olvides del nombre de las columnas).
6. Muestra los 3 primeros y tres últimos registros del Dataframe.
7. ¿Hay registros duplicados?
### Bonus:
8. Haz una consulta para extraer las diferentes ciudades en las que hay alumnas.

9. Crea al menos dos Dataframes con la información de las alumnas de dos ciudades diferentes (usando dos queries).

In [1]:
# Importamos las librerías que vamos a tener que utilizar
import mysql.connector
import pandas as pd