In [41]:
# creamos tres variables numéricas

numero1 = 1
numero2 = 2
numero3 = 3

In [42]:
# operadores lógicos

In [43]:
print(numero1 > numero2)

False

In [44]:
print((numero1 < numero2) and (numero2 > numero3))

False

In [45]:
print(numero3 == numero2)

False

In [46]:
print(numero2 != numero1)

True

In [47]:
# creamos dos variables tipo float

altura1 = 7
altura2 = 4

In [48]:
# operadores matemáticos

print(altura1 + altura2)

11

In [49]:
print(altura1 - altura2)

3

In [50]:
print(altura1 % altura2)

3

In [51]:
# creamos la variable resultado de la division para redondear a un décimal a posterior

resultado_division = altura1 / altura2
print(resultado_division)

1.75

In [52]:
round(resultado_division, 1)

1.8

In [ ]:
# escribimos un programa nombre y apellidos con input

In [53]:
nombre = input()

In [54]:
print(nombre)

Maria

In [55]:
apellido = input()

In [56]:
print(apellido)

Garcia Garcia

In [63]:
print(nombre.upper(), apellido.upper())

MARIA GARCIA GARCIA

In [66]:
print(nombre.lower(),apellido.lower())

maria garcia garcia

In [67]:
print(nombre.title(),apellido.title())

Maria Garcia Garcia

In [69]:
print(nombre.title(),apellido.lower())

Maria garcia garcia

In [ ]:
# creamos una frase usando input

In [70]:
input()

'Esta es nuestro primer pair programming'

In [71]:
frase = input()

In [72]:
print(frase)

Este es nuestro primer pair programming

In [73]:
vocal = input()

In [74]:
print(vocal)

e

In [76]:
print(frase, vocal.upper())

Este es nuestro primer pair programming E

In [80]:
frase=frase.replace("e",vocal.upper())

In [81]:
print(frase)

EstE Es nuEstro primEr pair programming

In [ ]:
# lista de la compra usando input

In [82]:
lista_compra = input()

In [83]:
print(lista_compra)

peras, manzanas, platanos

In [84]:
print(lista_compra, "\n")

peras, manzanas, platanos

In [86]:
print("\n", lista_compra)

 peras, manzanas, platanos